<%= link_to "Chatroom", root_path, class: "item" %>
<%= link_to "My Messages (ComingSoon)", root_path, class: "item" %>
<div class="right menu">

  <% if !logged_in? %>
    <div class="item">
      <%= link_to 'Log in', login_path, class: 'ui primary button' %>
    </div>
    <div class="item">
      <%= link_to 'Sign up', register_path, class: 'ui green button' %>
    </div>
  <% else %>
    <div class="item">
      <%= link_to 'Log out', logout_path, method: :delete, class: 'ui red button' %>
    </div>
  <% end %>
</div>